{% load static %}

<!DOCTYPE html>



<html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Login | Associate</title><link rel="stylesheet" type="text/css" href="{% static 'css-2/css-bootstrap.min.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'css-2/css-fontawesome-all.min.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'css-2/css-iofrm-style.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'css-2/css-iofrm-theme16.css' %}"></head><body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="login.html">
                <div class="logo">
                    <img class="logo-size" src="{% static 'images-2/images-logo-light.svg' %}" alt=""></div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'images-2/images-graphic3.svg' %}" alt=""></div>
            </div>
            <form class="form-control" name="text-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Login to account</h3>
                        <p>Login and see how your community is thriving, get in touch with your pals</p>
                        <form>
                            <input class="form-control" type="text" name="username" placeholder="E-mail Address" required><input class="form-control" type="password" name="password" placeholder="Password" required><div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <div class="text">Or login with</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                        </div>
                        <div class="page-links">
                            <a href="/register">Register new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js-2/8042-js-jquery.min.js' %}"></script><script src="{% static 'js-2/3213-js-popper.min.js' %}"></script><script src="{% static 'js-2/2039-js-bootstrap.min.js' %}"></script><script src="{% static 'js-2/1477-js-main.js' %}"></script></body></html>
